@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-VariableFont_wdth_wght.ttf") format("truetype");
    font-weight: 125 950;
    font-style: normal;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
header {
    background: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.header-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
div.logo {
    font-size: 24px;
    color: #F9FAF8;
}
a.header-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 20px;
}