@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-VariableFont_wdth_wght.ttf") format("truetype");
    font-weight: 125 950;
    font-style: normal;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

header.header-container {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    flex-wrap: wrap;
    top: 0;
}

div.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: inline-block;
    font-weight: bolder;
}

.logo a {
    text-decoration: none;
    color: #F9FAF8;
}

a.header-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

nav {
    display: flex;
}

ul.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hamb {
    cursor: pointer;
    float: right;
    display: none;
    font-size: 15px;
    color: #E5E7EB;
}

.side-menu {
    display: none;
}

@media (max-width: 767px) {
    .header-container {
        align-items: center;
        padding-inline: 1rem;
    }

    nav {
        display: none;
        width: 100%;
        padding-top: 2rem;
    }

    .menu {
        flex-direction: column;
        gap: 0.75rem;
    }

    .hamb .close {
        display: none;
    }

    .hamb {
        display: inline;
    }

    .side-menu:checked~nav {
        display: inline;
    }

    .side-menu:checked~.hamb .bars {
        display: none;
    }

    .side-menu:checked~.hamb .close {
        display: inline;
    }


}